<h1>New post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>


<!--
    访问http://localhost:3000/posts/new
    创建一个新的Post将调用两个动作，第一个是new，它将初始化一个Post对象。
    在 new.html.erb 视图中显示一个空的Post给用户：

-->